[Unit]
Description=Build and load v4l2loopback kernel module
After=network-online.target

[Service]
Type=oneshot
Environment=KMODPATH_OVERLAY=/var/lib/overlay.d/modules
ExecStart=/usr/sbin/akmods --force
ExecStart=/usr/sbin/modprobe v4l2loopback
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target

